[ req ]
prompt = no
distinguished_name = dn

[ dn ]
C  = PL
ST = Mazowieckie
L  = Warszawa
CN = CA for etcd

[ ca_ext ]
basicConstraints = critical,CA:TRUE
keyUsage = critical, digitalSignature, keyEncipherment, keyCertSign

[ usr_ext ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = critical, serverAuth, clientAuth
